* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  background: white;
  padding: 4px;
  border-radius: 6px;
  border: 2px solid white;

}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-y: scroll;
  scrollbar-width: 0px;
  min-height: 100vh;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

body::-webkit-scrollbar {
  width: 0px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-container main {
  display: block;
  flex: 1;
  padding: 2px 20px;
}


.add-popup-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  font-size: 30px;
  z-index: 1000;
}


/*custom css & Bootstrap class--------*/
:root {
  --violet-color: #4c00b0;
  --seller-nav-color: #660066;
  --admin-nav-color: #245731;
  --light-green-color: #b0e000;
}


.btn-purple {
  background-color: #800080;
  border: 1px solid #800080;
  color: #fff;
  border-radius: 5px;
}

.btn-purple:hover {
  background-color: #660066;
  border-color: #660066;
  color: #fff;
}

.text-violet {
  color: #530bee;
}

.text-purple {
  color: #800080;
}

.bg-purple {
  background-color: #800080;
}


.fs-7 {
  font-size: 0.860rem;
}

.bullet-list li {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}