* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;  
}

body {
  overflow-y: scroll; 
  scrollbar-width: 0px;
  min-height: 100vh; 
}

body::-webkit-scrollbar {
  width: 0px; 
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-container main {
  display: block;
  flex: 1;
  padding: 20px;
}


:root {
  --violet-color: #4c00b0;
}