.admin-navbar {
  background-color: var(--admin-nav-color);
}

.admin-content {
  padding: 15px;
  background-color: #f1f1f1;
  min-height: 100vh;
}

.admin-sidebar {
  position: fixed;
  top: 48px;
  left: -250px;
  width: 250px;
  height: 100vh;
  transition: 0.3s;
  z-index: 1000;
  overflow-y: auto;
}

.admin-sidebar.open {
  left: 0;
}


.admin-sidebar li a {
  display: block;
  padding: 10px;
  border-radius: 4px;
  margin: 5px 0px;
}

.admin-sidebar li a:hover,
.admin-sidebar li a.active {
  background-color: var(--admin-nav-color);
  transition: 0.3s;
  border-radius: 0px 170px 170px 0px;
}

.logout-container {
  padding: 0px  0px 62px 5px;
  
}
.logout-container button {
  border-radius: 170px 0px 0px 170px;
 padding: 5px;
}

.overlay {
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

@media (min-width: 992px) {
  .admin-sidebar {
    left: 0;
  }

  .admin-content {
    margin-left: 230px;
    padding: 20px;
  }
}
