.admin-navbar {
  background-color: var(--admin-nav-color);
}

.admin-content {
  padding: 15px;
  background-color: #f1f1f1;
  min-height: 100vh;
}

.admin-sidebar {
  position: fixed;
  top: 48px;
  left: -250px;
  width: 250px;
  height: 100vh;
  transition: 0.3s;
  z-index: 1000;
  overflow-y: auto;
}

.admin-sidebar li {
  padding: 10px;
}

.admin-sidebar.open {
  left: 0;
}

.admin-sidebar li:hover {
  background-color: var(--admin-nav-color);
  transition: 0.3s;
}

.overlay {
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

@media (min-width: 992px) {
  .admin-sidebar {
    left: 0;
  }

   .admin-content {
    margin-left: 250px;
    padding: 20px;
  }
}
