.product-section {
  margin: 60px 20px;
  min-height: 400px;
}

.product-card {

  transform: scale(1);
  transition: 0.9s;
}

.product-card img {
  padding: 2px;
}

.product-description,
.product-name,
.product-desc {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  min-height: 0.5em;

}

.view-btn {
  background-color: #4c00b0;
  color: white;
  padding: 5px 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.view-btn:hover {
  color: white;
  background-color: #6b32b4;
}


/* hovering  section started here*/
.product-card:hover {
  transform: scale(0.99);
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.product-name:hover {
  color: #4c00b0 !important;
  cursor: pointer;
}