
.product-section {
  margin: 60px 20px;
}

.product-card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(1);
  transition: 0.2s;
}

.product-description,
.product-name,
.product-desc {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  min-height: 0.5em;

}

.view-btn {
  background-color: #4c00b0;
  color: white;
  padding: 5px 20px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.view-btn:hover {
  color: white;
  background-color: #6b32b4;
}


/* hovering  section started here*/
.product-card:hover {
  transform: scale(0.99);
}

.product-name:hover {
  color: #4c00b0 !important;
  cursor: pointer;
}