.seller-navbar {
  background-color: var(--seller-nav-color);
}

.seller-content {
 
  background-color: #f1f1f1;
  min-height: 100vh;
}

.sidebar-link.active {
  background-color: var(--seller-nav-color);
  color: #000 !important;
  font-weight: bold;

}


.seller-sidebar {
  position: fixed;
  top: 48px;
  left: -250px;
  width: 250px;
  height: 100vh;
  transition: 0.3s;
  z-index: 1000;
  overflow-y: auto;
}

.seller-sidebar li a {
  display: block;
  padding: 10px;
  border-radius: 4px;
  margin: 5px 0px;
}

.seller-sidebar.open {
  left: 0;
}

.logout-container {
  padding: 0px 0px 62px 5px;

}

.logout-container button {
  border-radius: 170px 0px 0px 170px;
  padding: 5px;
}


.overlay {
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.sidebar-link.active {
  background-color: var(--seller-nav-color);
  color: white !important;
  font-weight: bold;
  border-radius: 0px 170px 170px 0px;
}

.seller-sidebar li a:hover {
  background-color: var(--seller-nav-color);
  border-radius: 0px 170px 170px 0px;
  transition: 0.3s;
}


@media (min-width: 992px) {
  .seller-sidebar {
    left: 0;
  }

  .seller-content {
    margin-left: 250px;
    padding: 20px;
    
  }
}